/* universal */
.nav-menu{
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}
.active {
    color: rgb(5, 5, 77) !important;
    border-bottom: 3px solid rgb(243, 243, 252);
}
.header{
     /* background-color: #DAF3FF;   5december */
     background-color: rgb(29, 28, 28);
}
.jayu {
    opacity: 90%;
    background-color: rgb(34, 34, 34) !important;
    color: aliceblue !important;
}
.navbar-height {
    height: 108px;
    border: 1px solid rgb(78, 78, 78);
    /* margin-bottom: 38px; */
}
/* navbar logo */
.nav-Logo {
    height: 40px;
    width: 50px;
   background: url('../../../../assets/logo/HeaderSprite.png'); 
   background-size: 300px;  
}
.flight-logo {
    background-position: -5px 0px;
}
.hotel-logo{
    background-position: -73px 0px;
}
.homestay-logo{
    background-position: -65px  -95px;
}
.trains-logo{
    background-position: 115px -2px;
}
.buses-logo{
    background-position: 60px 0px;
}
.cabs-logo{
    background-position: -5px -95px;
}
.holiday-logo{
    background-position: 176px 0px;
}
.tinsurance-logo{
    background-position: 60px -95px;
}

