
  <div class="container-fluid p-2 header">
    <div class="d-flex justify-content-between bd-highlight">
        <div class="ms-4 bd-highlight">
            <img class="rounded" src="../../../../assets/logo/navlogoFinal.JPG" width="120">
        </div>
        <div class="p-1 me-5 bd-highlight">
            <button class="btn btn-dark px-3" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"> {{loginbuttonName}}</button>
        </div>
    </div>
    <div class="container w-75 rounded-pill navbar-height jayu shadow bg-light">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav p-0 w-100 mb-3 d-flex justify-content-around nav-menu text-center">
                      <li class="nav-link jayu" routerLink="/hotels" routerLinkActive="active">
                           <div class="nav-Logo hotel-logo"></div> 
                            <p> Hotels</p>
                      </li>
                      <li  class="nav-link jayu" routerLink="/flights" routerLinkActive="active">
                            <div class="nav-Logo flight-logo"></div>
                            Flights
                      </li>
                      <li  class="nav-link jayu" routerLink="/homestays" routerLinkActive="active">
                        <div class="nav-Logo homestay-logo"></div>
                        Homestays <br> Villas
                      </li>
                      <li  class="nav-link jayu" routerLink="/trains" routerLinkActive="active">
                        <div class="nav-Logo trains-logo"></div>
                        Trains
                      </li>
                      <li  class="nav-link jayu" routerLink="/buses" routerLinkActive="active">
                        <div class="nav-Logo buses-logo"></div>
                        Buses
                      </li>
                      <li  class="nav-link jayu" routerLink="/cabs" routerLinkActive="active">
                        <div class="nav-Logo cabs-logo"></div>
                        Cabs
                      </li>
                      <li  class="nav-link jayu" routerLink="/holiday-packages" routerLinkActive="active">
                        <div class="nav-Logo holiday-logo"></div>
                        Holiday <br> Packages
                      </li>
                      <li  class="nav-link jayu" routerLink="/travel-insurance" routerLinkActive="active">
                        <div class="nav-Logo tinsurance-logo"></div>
                        Travel <br> Insurance
                      </li>
                    </ul>
                  </div>
            </div>
          </nav>
    </div>
</div>

    <!-- login pop-up -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{selectedAction}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- logIN and singup -->
  <app-login (emitsingup)="getdata($event)" (emitlogButtonName)="getloggeduserData($event)" *ngIf="selectedAction != 'SingUp'"></app-login>
  <app-singup *ngIf="selectedAction == 'SingUp'" (emitSingInData)="getdata($event)"></app-singup>
          </div>
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div> -->
        </div>
      </div>
    </div>