<footer >
    <!-- logo section -->
<div class="row m-0 p-3 border-top">
    <div class="col-md-3 me-5">
        <img src="../../../../assets/logo/CaptureDetail.JPG" width="300px">
    </div>
    <div class="col-md-8 ms-5">
        <form action="">
            <div class="row mt-4">
                <div class="col-md-4">
                    <p class="pt-2 detailsHead">Sign Up For Our Updates :</p>
                </div>
                <div class="col-md-5 pt-2">
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="email" id="form5Example22" class="form-control"
                            placeholder="Enter Email Address" />
                    </div>
                </div>
                <div class="col-md-3 pt-2 ps-5">
                    <button data-mdb-ripple-init type="button" class="btn btn-dark">
                        Subscribe
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- about section -->
<div class="row m-0 border-top footer">
    <div class="col-md-6 footer">
        <p class="detailsHead mt-4 ms-5">About Us</p>
        <p class="detailsContent ms-3">We come together each day to fulfill a promise of offering the single most
            comprehensive travel experience to users, through award-winning Mobile and Desktop solutions. With intuitive
            products that have the largest selection of flights and hotels, we keep customers at the center of
            everything we do.</p>
    </div>
    <div class="col-md-6">
        <ul class="social-icon mt-5 me-5">
            <li>
                <p>Connect With Us -></p>
            </li>
            <li> <i class="fa-brands fa-square-instagram fa-2xl mt-3" style="color: #ff1414;"></i></li>
            <li> <i class="fa-brands fa-facebook fa-2xl mt-3" style="color: #1c52b0;"></i> </li>
            <li> <i class="fa-brands fa-square-github fa-2xl mt-3" style="color: #000000;"></i> </li>
            <li> <i class="fa-brands fa-square-twitter fa-2xl mt-3" style="color: #1c4b9c;"></i> </li>
        </ul>
    </div>
</div>
<div class="copyright">
    <p>© 2023 Copyright: ClearTrip.com</p>
</div>
</footer>
