.bg-tab {
    background-color: rgba(212, 228, 240, 0.89);
    /* margin-top: -45px; */
    height: 43px;
}

.bg-tab a {
    color: rgb(0, 0, 0);

    cursor: pointer;
}

.tc {
    color: rgb(90, 88, 88);
}
/* list */
.image-container {
    position: relative;
    height: 150px;
    width: 220px;
    overflow: hidden;
}

.image-container img {
    transition: transform 0.3s;
}

.image-container:hover img {
    transform: scale(1.2);
}
.font {
  font-weight: 700;  
}
.pfont{
    font-weight: 500;
    color: brown;
}
.taxfont{
    font-size: 15px;
    text-align: right;
    font-weight: 500;
}
.ratingsection{
    width: 230px;
}
.categoryfont {
    font-size: 13px;
    width: 110px;
    overflow: hidden;
}
.borderActive {
    border-bottom: 4px solid rgb(30, 34, 34);
    border-radius: 5px;
    font-size:medium;
    /* background-color: rgb(184, 245, 245); */
}
.hotel-List:hover{
    border: 1px solid blue !important;
    cursor: pointer;
}