<div class="container">
    <div class="row">
        <div class="col-md-12 border rounded">
            <h5 class="fs-bold mb-3">Search Filters </h5>
            <!-- rating checkbox -->
            <div class="user-rating mb-3" *ngIf="filterObj.rating != undefined">
                <h6>Rating</h6>
                <div class="form-check" *ngFor="let item of filterObj.rating let i = index">
                    <input class="form-check-input" type="checkbox" value="" name="ratingSelected+{{i}}" [(ngModel)]="item.isSelected" (ngModelChange)="emitData(item)">
                    <!-- <input class="form-check-input" type="checkbox" value="" name="ratingSelected+{{i}}" [(ngModel)]="item.isSelected" (ngModelChange)="emitData(item)"> -->
                    <label class="form-check-label">
                      <p class="text-muted m-0">{{item.filterValueType}} &nbsp; {{item.filterValue}}+</p>
                    </label>
                </div>
            </div>
            <!-- price checbox -->
            <div class="price-per-night mt-2" *ngIf="filterObj.pricePerNight != undefined">
                <h6>Price Per Night</h6>
                <div class="form-check" *ngFor="let item of filterObj.pricePerNight let i = index">
                    <input class="form-check-input" type="checkbox" value="" name="priceSelected+{{i}}" [(ngModel)]="item.isSelected" (ngModelChange)="emitData(item)">
                    <!-- <input class="form-check-input" type="checkbox" value="" name="priceSelected+{{i}}" [(ngModel)]="item.isSelected" (ngModelChange)="emitData(item)"> -->
                    <label class="form-check-label">
                        <p class="text-muted m-0">₹ {{item.filterRange.min}} - ₹{{item.filterRange.max}}</p>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
